.container-skills {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tech-container-title {
    font-size: var(--font-medium);
    margin: 1em 0 1em;
}

.tech-container {
    display: flex;
    flex-direction: column;
    width: min(90%, 700px);
    margin-bottom: 3em;
}

.container-languages {
    display: grid;
    /* Played around till things were even in grid containers this works */
    grid-template-columns: repeat(auto-fit, min(47%, 153px));
    gap: 15px;
    background-color: var(--secondary-middle);
    border-radius: 20px;
    padding: var(--p-2);
    box-shadow: 0 10px 15px black;
}
.resume-link {
    text-decoration: none;
}

.button-resume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: var(--p-2);
    margin: var(--m-2);
    font-size: var(--font-small);
    width: 150px;
    background-color: rgb(32, 32, 32);
    color: white;
    outline: none;
    border: none;
    box-shadow: 0 3px 15px black;
}

.button-resume:hover {
    cursor: pointer;
}

/* Medium Screen */
@media screen and (min-width: 48em) {
    /* .container-coding-langs {
         max-width: 40%; 
    } */

}